*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  margin: 0 auto;
  max-width: 90vw;
  text-align: center;
}

h1 {
  text-align: center;
}

a {
  text-align: center;
}

.square-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 70vh;
}

.square {
  border: 1px solid black;
  display: flex;
  width: 19%;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.square.selected {
  background: url("./Snowflake.svg") no-repeat center center;
  background-size: contain;

  color: #008000;
  text-shadow: 1px 1px white;
}

img { 
  transform: rotate(-90deg);
  max-width:500px;
  max-height:25vh;
  display: block;
  margin: 0 auto;
}
